body {
    background-color: #B0413E;
}

.container-global {
    background-color: #B0413E;
}

.uk-navbar-container {
    background-color: #B0413E;
}

.blanc{
    color: white;
    text-decoration: none;
}