{% extends 'base.html.twig' %}

{% block title %}A propos de notre Bucket List{% endblock %}

{% block body %}
    <div class="container-global">
        <h1>L'histoire de nos rêves</h1>
        <p>
            Bienvenue sur notre espace dédié aux rêves et aux aspirations. Ici, nous pensons qu'une vie bien vécue est une collection d'expériences, de défis relevés et d'objectifs atteints. Notre application a été conçue pour vous aider à transformer vos pensées les plus folles en une liste concrète d'aventures à vivre.
        </p>

        <hr>

        <div class="section">
            <h2>Qu'est-ce qu'un carnet de souhaits ?</h2>
            <p>
                Une "Bucket List" est bien plus qu'une simple liste. C'est un engagement envers soi-même, une feuille de route pour les expériences qui rendent la vie riche et mémorable. Que ce soit voyager aux quatre coins du monde, apprendre une nouvelle compétence ou simplement savourer un moment de bonheur, chaque souhait sur votre liste est une promesse d'épanouissement.
            </p>
            <img src="{{ asset('DreamBig.webp') }}" alt="Un paysage de montagne avec écrit 'Dream Big'" style="width:100%; max-width:600px; display:block; margin:auto;">
            <p>
                C'est l'outil parfait pour passer du rêve à la réalité.
            </p>
        </div>

        <hr>

        <div class="section">
            <h2>Notre mission</h2>
            <p>
                Nous avons créé cette plateforme pour vous donner le pouvoir de visualiser, suivre et célébrer vos progrès. Fini les rêves oubliés au fond d'un carnet ! Notre mission est de vous inspirer et de vous fournir un cadre simple et efficace pour organiser vos ambitions. Rejoignez une communauté de rêveurs et partagez vos succès et vos découvertes.
            </p>
        </div>
    </div>
{% endblock %}