{% extends 'base.html.twig' %}

{% block title %}Tous les souhaits{% endblock %}

{% block body %}
    <div class="container-global">
        <h1>Tous les souhaits</h1>

        <ul class="wish-list">
            {% for wish in wishes %}
                <ul class="blanc">
                    <li><a href="{{ path('app_wish-detail', {'id': wish.id}) }}">{{ wish.title }}</a></li>
                </ul>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
