{% extends 'base.html.twig' %}

{% block title %}All Wish{% endblock %}

{% block body %}
    <div class="container-global">
        <h1>All Wish</h1>

        {% for wish in wishes %}
            <ul class="blanc">
                <li><a href="{{ path('app_wish-detail', {'id': wish.id}) }}">{{ wish.title }}</a></li>
            </ul>
        {% endfor %}
    </div>


{% endblock %}
