{% extends 'base.html.twig' %}

{% block title %}All Wish{% endblock %}

{% block body %}
    <h1>All Wish</h1>
    <div>
        <a href="{{ path('app_wish-detail', { 'id': 1 }) }}">Voir détails</a>
    </div>

{% endblock %}
